:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --main-bg-color: #1d273b;
    --main-bt-color: #206bc4;
    --main-hover-bt-color: #1d60b0;
    --timer-bt-color: #2aa13d;
    --timer-hover-bt-color: #298941;
    --timer-stop-bt-color: #da4c4c;
    --timer-hover-stop-bt-color: #d63939;
    --main-txt-color: #f6f6f6;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

form {
    display: flex;
    flex-direction: column;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #24c8db;
}

h1 {
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--main-txt-color);
    background-color: var(--main-bt-color);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

button {
    cursor: pointer;
}
button:hover {
    background-color: var(--main-hover-bt-color);
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
